@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

:root {
  --tan6: #your-color-here;
}

/* Table styles */
.table {
  width: 100%;
  margin-top: 0.5em;
}

.table tbody {
  border-top: 1px solid #ddd;
  background-color: #eae3da;
}

.table tr {
  border-bottom: 1px solid #473d29;
  margin: 0 0.2em;
}

.table tr:first-of-type {
  border-top: 1px solid #473d29;
}

.table td {
  padding: 0.5em 0.5em;
}

.table th {
  font-weight: normal;
  font-style: italic;
  vertical-align: bottom;
  padding: 0.3em 0.5em;
}

/* Other styles */
.cell-centered {
  text-align: center;
}

.bottom-fade {
  position: relative;
}

.bottom-fade::after {
  content: '';
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background-image: linear-gradient(to bottom, 
              rgba(255,255,255, 0), 
              rgba(255,255,255, 1) 70%);
}

.inline-button {
  display: inline-block;
  border: 1px solid var(--tan6);
  padding: 0.2em 0.5em;
  color: var(--tan6);
  background-color: transparent;
  text-align: left;
  font-size: 1em;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
}

.inline-button:hover {
  background-color: transparent;
  border: 1px solid #ce5a00;
  color: #ce5a00;
  text-decoration: none;
}